@using NSE.WebApp.MVC.Extensions
@model IEnumerable<NSE.WebApp.MVC.Models.ProdutoViewModel>

@{
    ViewData["Title"] = "Todos os produtos";
}

<section>
    <div>
        <div style="background-image: url(images/banners/Template.jpg); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover">
            <div style="text-align: center;">
                <img src="~/images/banners/nerdstore.png" />
            </div>
        </div>
        <div class="container" style=" padding-top: 20px">
            <div class="row">
                @{
                    foreach (var produto in Model.OrderBy(p=>p.Nome))
                    {
                        <div class="d-flex card m-2 p-2 justify-content-center" style="width: 200px">
                            <div href="#">
                                <a asp-controller="Catalogo" asp-action="ProdutoDetalhe" asp-route-id="@produto.Id" style="min-width: 200px; max-width: 200px; min-height: 100px; max-height: 100px;" >
                                    <img src="~/images/produtos/@produto.Imagem" alt="@produto.Nome" class="img-fluid" >
                                </a>
                                <figcaption >
                                    <a asp-controller="Catalogo" asp-action="ProdutoDetalhe" asp-route-id="@produto.Id" class="title">
                                        <b> @produto.Nome</b>
                                    </a>

                                    <small>
                                        @this.(@produto.QuantidadeEstoque)<br/><br/>
                                        @produto.Descricao
                                    </small>
                                </figcaption>
                                <div >
                                    <h3>@this.(@produto.Valor)</h3>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>